body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}

nav, aside {
  width: 14em;
  padding: 1em;
}

article {
  flex: 1;
  padding: 0 1em;
  max-width: 40em;
  margin: auto;
}

header {
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
  margin: auto;
}


footer {
  text-align: center;
}


@media (max-width: 20em) {
  main {
    flex-direction: column;
  }

  article {
    max-width: 100%;
    margin: 0;
  }

  nav, aside {
    margin: auto;
    width: 100%;
  }
}