@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg-color: white;
  --fg-color: black;
  --highlight-color: orange;
  --confirmation-color: green;
  --warning-color: orange;
  --error-color: red;
  --body-font: "Atkinson Hyperlegible", sans-serif;
}
